<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Title</title>
</head>
<body style="margin: auto;padding: 0;">

<div id="app">
  <label>
    Zoom:
    <input type="number" v-model="zoom">
  </label>
  <label>
    Auto-spectate
    <input type="checkbox" v-model="autoSpectate" />
  </label>
  <label v-show="!autoSpectate">
    Lock camera
    <input type="checkbox" v-model="lockCamera"  />
  </label>
  <input v-for="player in orderedPlayers" type="button" :value="`${player.name} (${Math.round(player.points)}) points`"
         @click="focusPlayer(player)" :style="{backgroundColor: player.fillColor}" />
  <br>
  Game progress: {{ Math.round(progress * 100) }} %
</div>
<div style="position:relative">
  <canvas id="mon-canvas" style="border: 1px solid black;width:100%;margin: auto;position:absolute;top:0;"></canvas>
  <canvas id="minimap" style="border: 1px solid green;position:absolute;top:5px;left:5px"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.5.0/fabric.js"></script>
<script type="module" src="index.mjs"></script>

</body>
</html>
