<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Title</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="skeleton.css">
</head>
<body style="margin: auto;padding: 0;">
<div id="app">
  <h1 v-show="!fullScreen">Spectating JDIS Games 2020</h1>
  <div class="container">
    <div class="row">
      <div :class="{nine: !fullScreen, twelve: fullScreen}" class="columns">
        <div class="flex">
          <label style="display: inline-block"> Auto-spectate <input style="margin: 0" type="checkbox" v-model="autoSpectate" /></label>
          <label style="display: inline-block"> Full screen <input style="margin: 0" type="checkbox" v-model="fullScreen" /></label>
          <progress id="progress" :value="progress * 100" max="100"></progress>
        </div>
        <div id="invisible"></div>
        <div id="canvas-container">
          <canvas id="mon-canvas" style="border: 1px solid black;width:100%;margin: auto;position:absolute;top:0;"></canvas>
          <canvas id="minimap" style="border: 1px solid green;position:absolute;top:5px;left:5px"></canvas>
        </div>
      </div>
      <div class="three columns" v-show="!fullScreen">
        <div class="flex">
          <strong class="rank">#</strong>
          <div class="player-name">Team</div>
          <strong class="points">Points</strong>
        </div>
        <hr>
        <div v-for="(player, index) in orderedPlayers" class="flex scoreboard" @click="focusPlayer(player)">
          <strong class="rank">{{index + 1}}</strong>
          <input class="player-name" type="button" :value="`${player.name}`"
                 :style="{backgroundColor: player.fillColor}" />
          <strong class="points">{{ Math.round(player.points) }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.5.0/fabric.js"></script>
<script type="module" src="index.mjs"></script>

</body>
</html>
