.game-settings-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-settings-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#game-settings-container>.game-settings-wrapper:not(:first-child) {
    margin-left: 20px;
}

.game-settings {
    display: inline-block;
    border: 3px solid lightgrey;
    border-radius: 5%;
    padding: 12px;
}

.game-settings input {
    max-width: 100px;
    padding: 0px 4px;
    height: 30px;
    margin-bottom: 0;
}

.label-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 4px;
}

.game-settings-title {
    font-weight: bold;
    font-size: large;
}

.game-settings fieldset {
    margin-left: 0;
}

.game-settings legend {
    padding-left: 0;
}

.upgrade-params-table {
    margin-left: 4px;
}

.upgrade-params-table td {
    padding-top: 0;
    padding-bottom: 0;
}

.upgrade-params-table th:first-child {
    text-transform: capitalize;
}
